<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AplicacionIACYM.Properties.Settings.cn" connectionString="Data Source=PC03\SQLEXPRESS;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=sistemas"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>